.input{
    height: 20px;
    width: 20px;
}
.bi-linkedin .bi-github .bi-envelope{
    padding-top: 25%;
}
.label-size{
  color: #CBE4DE;
  padding-left: 2%;
  font-size: 25px;
}
.a-tag{
    /* color: #F8FAE5 !important; */
    /* color: #CBE4DE; */
    font-size: 50px;
    padding: 3%;
}
.a-tag:hover {
    /* color: #76453B !important; */
    transition-duration: .3s;
  }
.contactMeCard{
    /* padding-top: 3%; */
    text-align
    : center;
    font-size: 18px;
    height:400px;
    /* margin-top: 5%; */
}
.contactMe-card-intro{
    padding-top: 2%;
    border: none;   
    /* background-color: #43766C !important; */
    /* background-color: #2C3333 !important; */
    height:400px;
    /* color: #F8FAE5 !important; */
    /* color: #CBE4DE; */
}
.contactMe-card-intro h1{
  /* color: #CBE4DE; */
}
::placeholder{
    /* color: #F8FAE5; */
    color: #CBE4DE;
    justify-items: baseline !important;
}
.inputTagMessage::placeholder{
    /* color: #F8FAE5; */
    color: #CBE4DE;
    justify-items: baseline !important;
    transform: translateY(-50px); 
}
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #76453B; */
    /* background-color: #2E4F4F; */
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 0px 2px #F8FAE5; */
    box-shadow: 0px 0px 0px 2px #CBE4DE;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    /* background-color: #43766C; */
    /* background-color:#2C3333 !important; */
    align-items: center;
  }
  
  .button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button:hover::before {
    font-size: 15px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  .buttontotop{
    align-items: center !important;
    justify-content: space-around !important;
  }
  .backontop{
    display: flex;
    margin-top: 2%;
    align-items: center !important;
    justify-content: space-around !important;
  }
  .btn-contact-page {
    /* background-color: #F8FAE5 !important; */
    color: #CBE4DE;
    /* color: #76453B; */
    height: 50px;
    width: 50px;
    font-size: large;
    margin: 5%;
    /* box-shadow: 0px 0px 0px 2px #F8FAE5; */
    box-shadow: 0px 0px 0px 2px #CBE4DE;
    transition-duration: 0.3s;
    animation: buttonMovement 3s;
    -moz-animation: buttonMovement 3s;
    /* Firefox */
    -webkit-animation: buttonMovement 3s;
    /* Safari and Chrome */
    -o-animation: buttonMovement 3s;
    /* Opera */
  }
  @keyframes buttonMovement {
    from {
      opacity: 0;
      transform: translateY(300px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .line4{
    /* border-top: 3px solid #F8FAE5; */
    border-top: 3px solid #CBE4DE;
    width: 220px;
    display: inline-flex;
    justify-content: center;
    animation: lineMovement 3s;
  -moz-animation: lineMovement 3s;
  -webkit-animation: lineMovement 3s;
  -o-animation: lineMovement 3s;
}
.content{
    margin-top: 2%;
}
@media screen and (max-width: 600px){
  .bi-linkedIn .bi-github .bi-envelope{
      font-size: 20px !important;
  }
  .backontop{
    padding-top: 10%;
  }
}