.card-intro{
 border: none;   
 /* background-color: #F8FAE5 !important;  */
 height: 500px;
 color: #76453B;
 margin-top: 5%;
 border-radius: 0;
 box-shadow: none !important;
} 
.card-intro p{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    color: #76453B;
    font-size: 18px;

}
.card-intro h1{
    color: #76453B;
}
.intro-data{
    display: flex;
    margin-top: 5%;
}
.imgStyle{
    border-radius: 50% !important;
}
.intro-text{
}