.projects {
  padding-top: 5%;
  height: 850px;
}

.projects h1 {
  /* animation: headingMovement 3s; */
  /* -moz-animation: headingMovement 3s; */
  /* -webkit-animation: headingMovement 3s; */
  /* -o-animation: headingMovement 3s; */
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.details {
  text-align: justify;
  padding-top: 10%;

}

.card {
  border: solid;
  height: 500px;
  width: 400px;
  align-items: center;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  /* animation: skills 3s; */
  /* -moz-animation: skills 3s; */
  /* -webkit-animation: skills 3s; */
  /* -o-animation: skills 3s; */
}
.cards .card:hover {
  /* transform: scale(1.05) !important; */
  /* transition: 0.3s ease;  */
}
.col{
  align-items: center;
  display: contents;
}

.content {
  height: 100px;
  text-align: center;
  padding: 16px;
}

.Typography {
  text-align: center;
}

.projectImage{
  height:250px; 
  width:370px;
}

.contentFirst {}

.textFirst {
  margin-left: 15px !important;
}

.cards .card:hover {
  /* transition: 0.3s ease; */
}

.line2 {
  width: 180px;
  display: inline-flex;
  justify-content: center;
  /* animation: lineMovement 3s; */
  /* -moz-animation: lineMovement 3s; */
  /* -webkit-animation: lineMovement 3s; */
  /* -o-animation: lineMovement 3s; */
}

@keyframes headingMovement {
  from {
    opacity: 0;
    /* transform: translateY(-50px); */
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes lineMovement {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes projects {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1300px) {
  .card {
    transform: scale(0.8);
  }
  .projects{
    height: 1200px !important;
  }
}

@media screen and (max-width: 860px) {
  .card{
    transform: scale(0.8);
  }
  .card:hover{
    /* transform: scale(1); */
  }
  .projects{
    height: 1700px !important;
  } 
}

@media screen and (max-width: 600px) {
  .projects {
    padding-top: 20%;
    height: 1800px !important;
  }
  .projectImage{
    height:200px; 
    width:320px;
  }
  .card{
    transform: scale(0.8);
  }
  .card:hover{
    /* transform: scale(1); */
  }
}