.icon{
    font-size: 35px;
}
.css-z2eky3-MuiTypography-root{
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.btn-lg{
    margin: 50px;
    border-style: solid;
    background-color: white;
}
.image-skills{
    height: 70px !important;
    width: 70px !important;
    opacity: 1;
    margin-top: 5%;
}

@keyframes skills {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
.bottom{
    opacity: 0;
    transition: .5s ease;
    margin-top: 10%;
}

.btn:hover .top {
  }
.skills{
    padding-top: 7%;
}
.skills h1{
    animation-play-state: running;
}
.progress-bar{
    width: 15px;
    height: 10px;
}
.row{
    align-items: center;
    justify-content: space-evenly;
}
.line1{
    width: 150px;
    display: inline-flex;
    justify-content: center;
    animation-play-state: running !important;
}
.skills-data{
  padding-top: 3%;
}
@keyframes headingMovement {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes lineMovement {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .box {
    width: 150px;
    height: 160px;
    border-radius: 50px;
   }

   @media screen and (max-width: 600px){
    .btn-lg{
      transform: scale(0.7);
      margin: 0;
    }
    .box{
      width: 150px;
      height: 160px;
    }.image-skills{
      height: 90px !important;
      width: 90px !important;
    }
    .skills{
      padding-top: 20%;
    }
   }