.cardsSkills{
    display: flex;
    justify-content: space-around;
}
.cardSkills{
    border: solid;
    width: 22%;
    background-color: #76453B !important;
    color: #F8FAE5;
}
.contentSkills{
    text-align: center;
    color: #F8FAE5;
}
.Typography{
    text-align: center;
}
.contentTools{
    text-align: center;
    color: #F8FAE5;
}
.contentTools .info{
    text-align: justify;
}
.icon{
    font-size: 35px;
}
.css-z2eky3-MuiTypography-root{
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.btn-lg{
    margin: 50px;
    border-style: solid;
    background-color: white;
}
.image-skills{
    height: 120px !important;
    width: 120px !important;
    opacity: 1;
}
.img:hover{
    height: 80;
    width: 80;
    transition-duration: 0.3s;
}

.btn:hover .image-skills {
    opacity: 1;
    height: 20;
    width: 20;
}
.middle{
    opacity: 0;
    transition: .5s ease;
    margin-top: 10%;
}
.btn:hover .middle {
    opacity: 1;
  }
.skills{
    margin-top: 5%;
}
.progress-bar{
    width: 5%;
}
.row{
    align-items: center;
    justify-content: space-evenly;
}