.experience {
  padding-top: 5%;
}

.cardsE {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.col {
  align-items: center;
  display: contents;
}

.cardE {
  border: solid;
  height: 500px;
  width: 400px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border-radius: 50px !important;
}

@media screen and (max-width: 600px) {
  .cardE {
    transform: scale(0.8);
  }

}

.contentE {
  text-align: center;
  padding: 0px !important;
}

.Typography {
  text-align: center;
}

.textFirst {
  margin-left: 15px !important;
}

.line3 {
  width: 220px;
  display: inline-flex;
  justify-content: center;
}

.imageE {
  height: 130px;
  width: 130px;
  margin: 15%;
  border-radius: 10px;
}

.info {
  padding-top: 10%;
  width: 300px;
  text-align: left;
}

@keyframes headingMovement {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes lineMovement {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes experience {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

